*{
    margin:0;
    padding: 0;
    font-family: 'TT Commons', sans-serif;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
body{
    background: #fff;
    color: rgb(0, 0, 0);
}
