*{
    margin:0;
    padding: 1;
    font-family: 'TT Commons', sans-serif;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
body{
    background: #ffe8dd;
    color: rgb(129, 4, 4);
}
